[defaults]
inventory = ansible/inventory.ini
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
deprecation_warnings = False

[ssh_connection]
pipelining = True
ssh_args = -o StrictHostKeyChecking=yes -o UserKnownHostsFile=~/.ssh/known_hosts
